.shadow{
    display: flex;
    flex-wrap: wrap-reverse;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* border-radius: 2em; */
}
.swiggy{
    background-color: #fc8019;
    color: azure;
    border-radius: 3px;
}
.zomato{
    background-color: red;
    color: azure;
    border-radius: 3px;
}
.image{
    display: flex;
    align-items: center;
}
body{
    /* display: flex; */
}
.text{
    display: flex;
    justify-content: center;
}

.dish-img img{
  width: 100%;
  max-height: 170px;
  object-fit: cover;
}
